process {
    errorStrategy = "finish"

	withLabel: process_dual {
	    cpus = 2
	    memory = 8.GB
	}
	withLabel: process_low {
	    cpus = 8
	    memory = 16.GB
	}
	withLabel: process_medium {
	    cpus = 10
	    memory = 24.GB
	}
	withLabel: process_high {
	    cpus = 16
	    memory = 48.GB
	}
	withLabel: memory_medium {
	    cpus = 12
	    memory = 52.GB
	}
	withLabel: memory_high {
	    cpus = 14
	    memory = 500.GB
	    queue = "bigmem"
	}

	// withName: multiqc {
	//    container = "/mnt/beegfs/kimj32/singularity/multiqc_1.19--pyhdfd78af_0.sif"
	//}
	//	withName: metaphlan {
    //	    container = "/mnt/beegfs/kimj32/singularity/biobakery_metaphlan4.sif"
    //
}
