params.samplesheet = "${launchDir}/samplesheet.csv"
params.genome = "mouse"
params.run_fastp = true
params.run_megahit = true
params.run_metaphlan = true
params.run_humann = false
params.run_kraken2 = false
params.run_StrainPhlAn = false

includeConfig 'cluster.config'
includeConfig 'processes.config'
includeConfig 'reference.config'

params.fastq_screen_conf = "/mnt/beegfs/kimj32/polymerase/polymeraseDependencies/FastQ_Screen_Genomes/fastq_screen.conf"